/*
 * @bot-written
 * 
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 * 
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */

//Extra styles for the help documentation//


//Colours//
$black: #222222;
$charcoal: #393939;
$dark-grey: #999999;
$grey: #D5D5D5;
$light-grey: #F4F4F4;
$white: #ffffff;
$red: #E84D38;
$green: #10B336;
$yellow: #FBC200;
$blue: #009FDD;
$orange: #F27600;
$purple:#8623DF;


@font-face {
	font-family: 'Lato';
	src:
	  url('/docs/fonts/Lato-Regular.ttf') format('truetype'),
	  url('/docs/fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Open Sans';
	src:
	  url('/docs/fonts/Lato-Bold.ttf') format('truetype'),
	  url('/docs/fonts/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

//Semi-bold Poppins//
@font-face {
	font-family: 'Poppins';
	src:
	  url('/docs/fonts/Poppins-SemiBold.ttf') format('truetype'),
	  url('/docs/fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src:
	  url('/docs/fonts/Poppins-Bold.ttf') format('truetype'),
	  url('/docs/fonts/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


//Headers//
h4,
h5,
h3{
	font-family: 'Lato';
	font-weight: bold;
	color: $black;
}

h2,
h1{
	color: black;
	font-family: 'Poppins';
	font-weight: bold;
}


h1 {
	font-size: 300%
}

h2 {
	font-size: 200%
}

h3 {
	font-size: 130%
}

h4 {
	font-size: 105%
}

h5 {
	font-size: 100%
}

h6 {
	font-size: 95%
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $grey;
	margin: 24px 0;
	padding: 0;
}



//This is the container for the documentation searchbar//
.wy-side-nav-search {
	background-color: $white;

	input[type=text]{
		border-radius: 0;
		border: none;
		background-color: $light-grey;
		box-shadow: none;
		padding: 0.8rem;
	}

	a{
		color: $black;
		font-family: 'Lato';
		font-weight: bold;

		&:visited{
			color: $black;
		}
	}
}

//This is where the navigation links for the documentation are contained//
.wy-nav-side {
	background-color: $white;
	box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.1);
}


.wy-nav-top{
	background: $black;

	a:visited{
		color: $white;
	}
}

.wy-nav-content,
.wy-nav-content-wrap{
	background: $white;
	opacity: 1;
}

//Version number and other information for the documentation container//

.rst-versions {
	background-color: $black;
	color: $white;
	box-shadow: 2px 10px 10px 0px rgba(0, 0, 0, 0.1);

	.rst-current-version {
		background-color: $black;
		color: $white;
		text-align: center;
		display: flex;
		justify-content: space-between;

		span {
			a {
				color: $white;

				&:hover {
					font-weight: bold;
				}

				&:active {
					font-weight: bold;
				}
			}

		}
	}
}

//Sub-menu foldout with menu title and submenu items//
.wy-menu-vertical {

	a {
		color: $black;

		&:hover {
			background-color: $light-grey;
			color: $black;
		}

		&:active{
			color: $white;
			background-color:$black;
		}
	}

	li.current a {
		border: 0;
		background-color: $light-grey;
		color: $black;
	}

	li.current {
		background-color: $light-grey;

		a {
			&:hover {
				background-color: $grey;
			}

			&:active{
				background-color: $black;
				color: $white;
			}
		}

	}

	span {
		color: $black;
		font-weight: bold;
	}
}

//Styles for the menu links//
.wy-menu-vertical li ul li a{
	color: $black;
}





// a {
// 	color: #009FDD;
// }

pre {
	background-color: #F4F4F4;
	border: none;
}

code {
	background-color: transparent;
}


//Striped table styles//
.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: $light-grey;
}


//Links//

a{
	color: $blue;

	&:visited{
		color: $purple;
	}

	&:hover{
		color: $blue;
		font-weight: bold;
	}
}


//Inputs//

input,
.search-query{
	border-radius: 0;
	background-color: $light-grey;
	box-shadow: none;
}

form .search-query{
	border-radius: 0;
	background-color: $light-grey;
	border: none;
	box-shadow: none;
	padding: 0.8rem;
}

//Horizontal Rule//
hr{
	border-top: $grey 1px solid;
}


//Buttons//

.btn{

	box-shadow: none;
	font-weight: bold;

	span{
		&:before{
			display: none;
		}
	}
}

.btn-neutral,
.btn-neutral:visited,
.btn-neutral:active{
	background-color: $black !important;
	color: $white !important;
	min-width: 6rem;
	font-weight: normal;
}



//Footer section
footer{
	margin-top: 3rem;
}



